<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="JavaHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\java\bin\java.exe| -jar D:\home\site\wwwroot\your-app.jar" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>